.App{
  background-image: linear-gradient(to Top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(/src/logos/banner.jpg);
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.google .icon{
  font-size: 30px;
}
form input{
  border-bottom: 1px solid rgba(153, 153, 153, 0.486);
}
.userPhoto{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.small-container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.userContainer{
  max-width: 1220px;
  width: 90%;
  margin: 0 auto;
}
.userRight{
  flex: 3;
}
.userLeft{
  flex: 1;
}
.userRight table thead tr td{
  background-color: rgb(170, 170, 170);
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.userRight table tbody tr td{
  font-size: 14px;
  padding: 8px 15px;
}
.userRight table tbody tr td:last-child{
  text-align: right;
}
.userRight table tbody tr td img{
  width: 30px;
}